<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Images Vuer</title>
      <link type="text/css" href="style/app.css" rel="stylesheet" />
      
      <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
      <!-- Vue.JS include -->
      <script src="scripts/vuejs/vue.js"></script>
      <!-- JQuery 3.1.1 include -->
      <script src="scripts/jquery/jquery-3.1.1.min.js"></script>
      <!-- jsonlint, JSON validator library include -->
      <script src="scripts/jsonlint/jsonlint.js"></script>
      
      <!-- Vuer app constants -->
      <script src="scripts/vuer-app/constants.js"></script>
      <!-- Vuer app functions -->
      <script src="scripts/vuer-app/functions.js" ></script>
      <!-- Vuer app components -->
      <script src="scripts/vuer-app/app-comps.js"></script>
      <!-- Vuer app include -->
      <script src="scripts/vuer-app/app.js" ></script>
      <script>if (window.module) module = window.module;</script>
    </head>

  <body>
    <div id="app">
      <div class="path-container">
        <button class="path-select" v-on:click="selectDir">Browse</button>
        <input class="path-display" type="text" v-model="imgDirPath" readonly />
      </div>
      <div class="criteria-container">
        <select>
          <option v-for="site in sites" :value="site">{{ site }}</option>
        </select>
      </div>
      
    </div>
  </body>
</html>